@import 'bootstrap/scss/bootstrap.scss';

.Header .navbar-brand img {
  display: inline-block;
  margin-right: 3px;
  margin-top: 6px;
  vertical-align: top;
}

.Login {
  margin-bottom: $spacer;
  margin-top: $spacer;
  max-width: 400px;
}

.unit-table {
  .team, .shift, .day { text-align: center; }
  .member, .team { white-space: nowrap; width: 1%; }
  th.day { border-bottom: none; }
  thead th.shift { border-top: none; }
  label { display: block; margin: 0; text-align: center; }
  td { vertical-align: middle; }
  th.day, .shift-night, .quals { border-right: 1px solid $table-border-color; }
}

.member-availability-form {
  table { border-bottom: 1px solid $table-border-color; }
  thead th { text-align: center; }
  label { display: block; margin: 0; text-align: center; }
  td { vertical-align: middle; }
}

.QualificationsDropdownMenu .form-check {
  justify-content: left;
}

.team-badge-oscar { background: #aa66cc; color: #fff; }
.team-badge-romeo { background: #00c851; color: #fff; }

.qual-badge abbr { text-decoration: none; }
.qual-badge-cs { background: #388e3c; color: #fff; }
.qual-badge-fr1 { background: #bbdefb; }
.qual-badge-fr2 { background: #2196f3; }
.qual-badge-fr3 { background: #0d47a1; color: #fff; }
.qual-badge-ls { background: #8d6e63; color: #fff; }
.qual-badge-swd { background: #ef6c00; color: #fff; }
.qual-badge-vr { background: #c62828; color: #fff; }
