@import 'bootstrap/scss/bootstrap.scss';
@import 'react-vis/dist/main.scss';

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#app-navbar .navbar-brand img {
  display: inline-block;
  margin-right: 3px;
  margin-top: 6px;
  vertical-align: top;
}

.Login {
  margin-bottom: $spacer;
  margin-top: $spacer;
  max-width: 400px;
}

.unit-table {
  thead, tfoot {
    background: #fff;
  }

  .team, .shift, .day { text-align: center; }
  .member, .team { white-space: nowrap; width: 1%; }
  th.day { border-bottom: none; }
  thead th.shift { border-top: none; }
  label { display: block; margin: 0; text-align: center; }
  td { vertical-align: middle; }
  th.day, .shift-night, .quals { border-right: 1px solid $table-border-color; }
}

.member-availability-form {
  table { border-bottom: 1px solid $table-border-color; }
  thead th { text-align: center; }
  label { display: block; margin: 0; text-align: center; }
  td { vertical-align: middle; }
}

#do-table {
  display: flex;
  flex-direction: column;

  .day {
    border-bottom: 1px solid $table-border-color;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .date {
    @extend .bg-light;
    border-right: 1px solid $table-border-color;
    display: flex;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    text-align: center;
    width: 64px;
  }
  .day-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
  }
  .hour {
    flex-grow: 1;
    z-index: 1;

    @include media-breakpoint-up(md) {
      &:nth-child(2n) { border-right: 1px solid $table-border-color; }
    }
    &:nth-child(6), &:nth-child(18) {
      border-right: 1px solid $table-border-color;
    }
  }

  .do-block {
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    padding: 0.25 * $spacer;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    z-index: 1;
  }
  .do-day {
    color: #0c5460;
    background: #d1ecf1;
    border-right: 1px solid darken(#bee5eb, 20);
  }
  .do-night {
    color: #004085;
    background: #cce5ff;
    border-right: 1px solid darken(#b8daff, 20);
  }

  .week-bound {
    bottom: 0;
    background: repeating-linear-gradient(-45deg, #fff, #fff 5px, #f4f4f4 5px, #f4f4f4 10px);;
    position: absolute;
    top: 0;
  }
}

.QualificationsDropdownMenu .form-check {
  justify-content: left;
}

.team-badge-delta { background: #81d4fa; }
.team-badge-oscar { background: #aa66cc; color: #fff; }
.team-badge-romeo { background: #00c851; color: #fff; }
.team-badge-sierra { background: #f8bbd0; }
.team-badge-xray { background: #ffcc80; }

.qual-badge abbr { text-decoration: none; }
.qual-badge-cs { background: #00C851; color: #fff; }
.qual-badge-cs2 { background: #008d3e; color: #fff; }
.qual-badge-l1 { background: #bbdefb; }
.qual-badge-l2 { background: #2196f3; }
.qual-badge-l3 { background: #0d47a1; color: #fff; }
.qual-badge-ls { background: #8d6e63; color: #fff; }
.qual-badge-swd { background: #ef6c00; color: #fff; }
.qual-badge-vr { background: #c62828; color: #fff; }
.qual-badge-ic { background: #fff; border: 1px solid #bbb; }
.qual-badge-imt { background: #00695c; color: #fff; }
.qual-badge-🔑 { background: #eee; }

.react-datepicker-wrapper {
  width: 100%;
}
